@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--bocchi: #f06fa2;
	--nijika: #fcd51f;
	--ryou: #3188fe;
	--kita: #ed2c37;
}

html,
body {
	background-color: rgb(15, 15, 15);
}

html,
h2,
body,
p,
img {
	margin: 0;
	padding: 0;
}

h1,
h2,
p,
label {
	padding: 0;
	font-family: "Barlow Condensed", sans-serif;
}

h1 {
	margin-bottom: 0;
}

html {
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	justify-content: center;
	overflow-x: hidden;
}

body {
	width: 80%;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 5vh;
}

.logo {
	height: 100%;
	width: 15%;
}

.logo img {
	margin: 0px;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

section {
	width: 100%;
	min-height: 200px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

section.title {
	width: 80%;
	align-items: center;
	text-align: center;
}

.title {
	font-style: bold;
	font-weight: 800;
	color: #fff000;
	margin: 0;
	text-wrap: balance;
}

.title p {
	color: white;
	font-weight: 500;
}

.food {
	min-height: auto;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 100px;
}

.food-images {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.description {
	display: flex;
	flex-direction: column;
	width: 95%;
}

.title-and-desc,
.price-and-button {
	width: 100%;
}

.bocchi > .name,
.bocchi .food-title {
	color: var(--bocchi);
	font-size: 4rem;
	padding-bottom: 20px;
}

.nijika > .name,
.nijika .food-title {
	color: var(--nijika);
	font-size: 4rem;
	padding-bottom: 20px;
}

.ryou > .name,
.ryou .food-title {
	color: var(--ryou);
	font-size: 4rem;
	padding-bottom: 20px;
}

.kita > .name,
.kita .food-title {
	color: var(--kita);
	font-size: 4rem;
	padding-bottom: 20px;
}

.extra > .name,
.extra .food-title {
	color: white;
	font-size: 4rem;
	padding-bottom: 20px;
}

.food-desc {
	padding-bottom: 20px;
	color: white;
}

.price-and-button {
	color: white;
	display: flex;
	gap: 15px;
}

.currency,
.price {
	font-size: 3rem;
}

img {
	width: 95%;
	padding: 8px;
	border-radius: 16px;
	margin-bottom: 20px;
}

.bocchi img {
	background-color: var(--bocchi);
}

.nijika img {
	background-color: var(--nijika);
}

.ryou img {
	background-color: var(--ryou);
}

.kita img {
	background-color: var(--kita);
}

.extra img {
	background-color: white;
}

button {
	background-color: transparent;
	color: white;
	border: 2px solid white;
	border-radius: 10px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 2rem;
	text-decoration: none;
}

button:hover {
	background-color: white;
	color: black;
	transition: background-color 0.3s, color 0.3s;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 3vh;
}

.social-icons {
	height: 100%;
	min-width: 60%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--bocchi);
}

.social-icons a {
	text-decoration: none;
}

.social-icons img {
	height: 50px;
	width: 50px;
	margin-bottom: 0px;
}

/* popup */
/* Styles for the popup container */
.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.popup-content {
	min-width: 250px;
	min-height: 400px;
	margin: 0;
	background-color: var(--bocchi);
	padding: 20px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 2rem;
	text-wrap: balance;
}

.popup-content h2,
label {
	margin-bottom: 10px;
}

input {
	min-height: 2rem;
}

form {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.popup-content p,
.popup-content label {
	font-weight: 300;
}
.popup-content .close {
	text-align: right;
	font-size: 2rem;
	font-weight: 900;
	cursor: pointer;
}

.submit {
	background-color: transparent;
	color: black;
	border: 2px solid black;
	border-radius: 10px;
	padding: 10px 20px;
	cursor: pointer;
	text-decoration: none;
}

.submit:hover {
	background-color: black;
	color: white;
	transition: background-color 0.3s, color 0.3s;
}
/* animations */
.hidden {
	opacity: 0;
	transition: all 1s;
	transform: translateY(20%);
}

.show {
	opacity: 1;
	transform: translateY(0);
}

.achievement:nth-child(2) {
	transition-delay: 200ms;
}

.achievement:nth-child(3) {
	transition-delay: 400ms;
}

@media (prefers-reduced-motion) {
	.hidden {
		transition: 0;
	}
}

/* XS Sizing (Phone)*/
@media screen and (min-width: 320px) {
	body {
		width: 90%;
	}

	.logo {
		height: 100%;
		width: 20%;
	}
	.title {
		font-size: 2rem;
		text-wrap: balance;
	}

	.title p {
		font-size: 1.5rem;
	}

	.description .food-desc {
		font-size: 1.5rem;
	}

	.food {
		flex-direction: column;
	}

	.food .food-title {
		font-size: 2.25rem;
		font-style: bold;
		font-weight: 800;
	}

	.currency,
	.price {
		font-size: 2rem;
	}

	button {
		font-size: 1.25rem;
	}
}

/* MD Sizing (Tablet)*/
@media screen and (min-width: 900px) {
	body {
		width: 95%;
	}

	.title {
		font-size: 3rem;
	}

	.title p {
		font-size: 2rem;
	}

	.food {
		display: flex;
		flex-direction: column;
	}

	.food-images {
		justify-content: space-around;
		flex-direction: row;
	}

	.extra .food-images {
		justify-content: flex-start;
		flex-direction: row;
	}

	img {
		width: 43%;
		padding: 15px;
		border-radius: 25px;
		margin-bottom: 20px;
	}

	.food .food-title {
		font-size: 3.5rem;
	}

	.description .food-desc {
		font-size: 2.5rem;
	}

	.currency,
	.price {
		font-size: 3rem;
	}

	.button {
		font-size: 2.25rem;
	}

	.social-icons {
		min-width: 35%;
	}
}

/* XL Sizing (PC)*/
@media screen and (min-width: 1536px) {
	.logo {
		width: 10%;
	}

	.food-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.food {
		width: 48%;
		justify-content: flex-start;
	}

	.food-images {
		flex-direction: column;
	}

	img {
		width: 80%;
	}
}
